* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

select {
  min-width: 60px;

  padding: 6px 8px;

  border: 1px solid hsl(213, 11%, 84%);
  border-radius: 3px;
  box-shadow: inset 0 1px 2px hsla(210, 13%, 12%, .075);

  background-color: hsl(210, 25%, 98%);

  outline: none;
}

select:focus {
  border-color: hsl(212, 100%, 56%);
  box-shadow: inset 0 1px 2px hsla(210, 13%, 12%, .075),
    0 0 0 2px hsla(212, 97%, 43%, .3);
}

button {
  padding: 6px 12px;

  border: 1px solid hsla(210, 13%, 12%, .2);
  border-radius: 3px;

  font-weight: bold;

  cursor: pointer;
  outline: none;
}

button:active {
  border-color: hsla(210, 13%, 12%, .35);
  box-shadow: inset 0 3px 4px hsla(210, 13%, 12%, .15);
  background-color: hsl(210, 16%, 93%);
}

.wrapper {
  padding: 16px;
}

.control {
  display: flex;

  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.form-item + .form-item {
  margin-left: 16px;
}

.preview {
  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.field {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 5px;
}

.square {
  width: 50px;
  height: 50px;

  margin-left: 2px;
  margin-top: 2px;

  border: 0;
  border-radius: 5px;
}

.rotating-square {
  position: absolute;
  z-index: -1;

  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 7px;
}

.solution {
  display: flex;
  flex-wrap: wrap;
}

.violet {
  background-color: hsl(301, 43%, 48%);
}

.orange {
  background-color: hsl(26, 100%, 42%);
}

.green {
  background-color: hsl(182, 45%, 47%);
}

.yellow {
  background-color: hsl(60, 100%, 80%);
}